body {
	margin: 0;
	padding: 0 0 10px 0;

	#font-family: 'HelveticaNeue-Light',Helvetica,Arial,sans-serif;
	font-family: Verdana,'Vera Sans';
}

div#page {
	
}

a,
a:active {
	text-decoration: none;
	color: #555;
}

a:hover,
a:focus {
	text-decoration: none;
	color: #FF8800;
}

.button {
	display: inline-block;
	line-height: 1;
	padding: 20px 30px;
	margin: 10px;
	text-decoration: none;
	font-weight: bold;
	font-size: 26pt;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	color: #fff;
	background-image: -moz-linear-gradient(top, #ff8800, #ffc880);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff8800), to(#ffc880));
    background-image: -webkit-linear-gradient(top, #ff8800, #ffc880);
    background-image: -o-linear-gradient(top, #ff8800, #ffc880);
    background-image: linear-gradient(to bottom, #ff8800, #ffc880);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;
	transition: background-image 0.25s linear 0s;
}

.button:hover,
.button:focus,
.button:active {
	background-color: #EE4422;
	background-image: -moz-linear-gradient(top, #ff9900, #ffd980);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff9900), to(#ffd980));
    background-image: -webkit-linear-gradient(top, #ff9900, #ffd980);
    background-image: -o-linear-gradient(top, #ff9900, #ffd980);
    background-image: linear-gradient(to bottom, #ff9900, #ffd980);
}

input.button, button.button {
	border: 0px none;
}

h1,
h2,
h3,
h4 {
	color: #FF8800;
}

.centered {
	width: 900px;
	margin: 0 auto;
}

.chapter {
    border-bottom: 1px solid #CCCCCC;
    border-radius: 18px 18px 18px 18px;
    box-shadow: 0 15px 15px -5px #FF8800;
    padding: 15px;
}

div.logo {
	background: url("../img/Logo_print_wo_bg_farbig_1200dpi.png") no-repeat scroll 0 0 #555555;
    display: block;
    float: left;
    height: 100px;
    margin-left: 6pt;
    transition: background-color 0.25s linear 0s;
    width: 200px;
}

div#header {
	background: none repeat scroll 0 0 #fff;
  	border-bottom: 1pt solid #aaa;
  	left: 0;
	top: 0;
  	height: 5.4pc;
  	position: fixed;
  	right: 0;
  	z-index: 10;
  	box-shadow: 0pt 1pt 2pt #777;
}

div#header div#mobile-nav {
  display: none; /* see below */
}
div#header div#nav {
	float: right;
  	padding: 0.5pc 0;
}

div#header div#nav li a,
div#header div#nav li a:active,
div#header div#mobile-nav li a,
div#header div#mobile-nav li a:active {
	transition: color 0.25s linear 0s;
  	color: #555;
  	font-size: 14pt;
  	line-height: 3.5pc;
  	padding: 0 1pc;
  	text-decoration: none;
	font-weight: bold;
}

div#header div#nav li {
	display: inline-block;
}

div#header div#nav li a:hover,
div#header div#nav li a:focus,
div#header div#mobile-nav li a:hover,
div#header div#mobile-nav li a:focus {
  color: #FF8800;
}

div#content {
	padding-top: 5.5pc !important;
	line-height: 1.5;
}

div#button-panel {
	text-align: center;
}

.scroll-target {
	top: -3.0pc;
	position: relative;
}

.support-mail {
	text-decoration: none;
	color: black;
}

/* Mobile view */
@media screen and (max-width: 36pc) {
  .centered {
    margin: 0 2pc;
  }
  div#header {
    height: auto;
    min-height: 7pc;
  }
  div#header div.logo,
  div#header div#nav {
    float: none; /* force movile-nav to get wrapped to a new line*/
  }
  
  a.scroll-point {
    top: -5pc;
  }
  
  div#content {
    padding-top: 7pc !important;
  }
}

